body, html{
    height: 100vh;
overflow: hidden;
}

body{
    background-color: salmon;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background-color: lightpink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 400px;
}

input{
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 300px;
    padding: 20px;
    background-color: rgba(245, 242, 233, 0.25);
}